<div class="table-responsive">
    <table class="table">
        #foreach($device in $deviceList)
            <tr><td><a href="$!homeServer.getURI("device/requestList.htm").addQueryData('host',$!{device})">$device</a></td></tr>
        #end
    </table>
</div>