<div class="table-responsive">
    <table class="table table-bordered">

        #foreach($req in $packetlist)
            <tr><td>$!{velocityCount}</td><td>$!req</td></tr>

        #end
    </table>
</div>
