<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>请求url</th>
        </tr>
        </thead>
        #foreach($req in $requestlist)
            <tr><td>$!{velocityCount}</td><td>$!req.deviceHttpRequest.firstLine</td></tr>
            <tr class="code_pre" style="display: none"><td colspan="2">
            <div class="highlight" >
                <pre>
                    $!req
                </pre>
            </div>
            </td></tr>
        #end
    </table>
</div>
<script language="javascript">
    $(document).ready(function(){

        $(".table tr").bind("click",function(){
            $(".code_pre").hide("slow");
            $(this).next().show("slow");
        });

    })
</script>