<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <div class="panel-body ">
            <button type="button" class="btn btn-success refresh">刷新</button>
            <button type="button" class="btn btn-warning clean">清除</button>
        </div>

    </div>
    </div>



<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>请求url</th>
        </tr>
        </thead>
        #foreach($req in $requestlist)
            <tr class="url_pre"><td>$!{velocityCount}</td><td>$!req.deviceHttpRequest.firstLine</td></tr>
            <tr class="code_pre" style="display: none"><td colspan="2">
            <div class="highlight" >
                <pre>
                    $!req
                </pre>
            </div>
            </td></tr>
        #end
    </table>
</div>
<script language="javascript">
    $(document).ready(function(){

        $(".url_pre").bind("click",function(){
            $(".code_pre").hide("slow");
            if($(this).next().is(':visible')) {
                $(this).next().hide("slow");
            }else{
                $(this).next().show("slow");
            }
        });

        $(".refresh").bind("click",function(){
            location.reload();
        });
        $(".clean").bind("click",function(){
            location.href="$!homeServer.getURI("device/clean.htm").addQueryData('host',$!{device})"
        });

    })
</script>